# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native (Mobile)
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/mobile/ios
/mobile/android

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
logs
*.log

# macOS
.DS_Store
*.pem

# Local env files
.env*.local
.env

# TypeScript
*.tsbuildinfo

# Firmware (ESP32 / Arduino / PlatformIO)
.pio/
.vscode/
build/
*.bin
*.elf
*.map

# Python (if server uses Python)
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.dmg
